<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Default product layout</title>
        <title lang="de-DE">Standard Produktlayout</title>

        <component name="layout-state-select">
            <name>layout</name>
            <entity>cms_page</entity>
            <label lang="de-DE">Layout</label>
            <label>Layout</label>
        </component>
    </card>

</config>
